<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pet-Hop</title>
    <link rel="stylesheet" href="../paper-collapse.min.css">
     <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">


  </head>
  <body>

    <div id="app"></div>



    <script src="https://code.jquery.com/jquery-2.2.0.js"></script>

    <script src="https://fb.me/react-0.13.3.js"></script>
  	<script src="https://fb.me/JSXTransformer-0.13.3.js"></script>
    <script src="./stormpath-sdk-react.min.js"></script>
  	<script type="text/javascript" src="../static/bundle.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="../paper-collapse.min.js"></script>
    <script>
        $('.collapse-card').paperCollapse();
    </script>
  </body>
</html>
