/*Globally Available Items*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.nav-wrapper {
  z-index: 1;
}

.footer-wrapper {
  position: relative;
  z-index: 10;
  bottom: 0;
}
ul.right.hide-on-med-and-down {
    margin-bottom: 0px;
    height: 64px;
}

/*Registration & Login*/
.login {
  width: 600px;
  height: 75vh;
  position: relative;
  top: 150px;
  margin: 0 auto 0 auto;
  z-index: 0;
}
.registration {
  width: 600px;
  height: 85vh;
  position: relative;
  top: 150px;
  margin: 0 auto 100px auto;
  z-index: 0;
}

/*Home*/
.home_row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 25px;
}
.slider {
  width: 100%;
  height: 100vh;
}
.parallax-container {
    height: 600px;
   }
.parallax-tagline {
    position: relative;
    top: 225px;
   }

/*Main Feed*/
.feed {
  min-height: 52vw;
}
.feedListing {
  width: 50vw;
  overflow-y: scroll;
}
.feedtools{
  width: 20vw;
}
.card {
  position: relative;
}
.ownerPic{
  position: absolute;
  margin-right: 15px;
  right: 0;
  bottom: 115px;
  z-index: 5;
}
.profile-card {
  position: relative;
  margin: 0 auto 0 auto;
  height: 100%;
}
#view-details {
  margin-right: 50px;
}
#contact {
  position: relative;
  margin-left: 15px;
}
/*Maps*/
#google-map{
    z-index: -2;
    display: block;
    position:static;
    top: 0px;
    right: 0px;
}

#google-map-container{
    position: absolute;
    top: 0;
    right: 0px;
    height: 95vh;
    width: 49.5vw;
    margin: auto;
    /*margin-bottom: 10%;*/
    /*margin-top: 64px;*/
    z-index: 0
}
@media only screen and (max-width: 993px) {
  #google-map-container{
  display: none;
  }

  .feedListing {
    width: 100vw;
  }
}
.gm-style-mtc {
  display: none;
}

/*Add Pet Trip*/
.addtrip {
  margin-top: 10px;
  position: relative;
  left: 10px;
}
.something {
  padding: 0 .75rem;
}

.something label {
  font-size: 1rem;
}
.picker__date-display {
  background-color: #ff9800;
}
.picker__weekday-display {
 background-color: rgba(51,51,51,0.08)
}
.picker__day.picker__day--today.picker__day--selected.picker_box {
 background-color: #ff9800;
}
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
 background-color: #ff9800;
}
.picker__day.picker__day--today {
 color: #ff9800;
}
.picker__close, .picker__today {
 color: #ff9800;
}
.datepicker.picker_input {
  background-color: #ff9800;
}
button.picker__today:focus, button.picker__clear:focus, button.picker__close:focus {
    background-color: #ff9800;
    color: #FFF;
}

/*Profile*/
.cover-photo {
  position: relative;
  overflow:auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.info-wraper {
  position: relative;
}
#profile-user {
  border: 5px solid #ffffff;
  position: relative;
  bottom: 75px;
  left: 40px;
}
#edit-btn {
  position: relative;
  float:right;
  top: 24px;
  right: 20px;
}
@media only screen and (max-width: 590px) {
  #edit-btn {
    width: 80%;
    position: relative;
    margin: 0 auto 20 auto;;
    top: 0px;
    right: 30px;
  }
  #user-name {
    position: relative;
    float: left;
    top: 28px;
    padding-bottom: 20px;
  }
}
#user-name {
  position: relative;
  float: left;
}

/*File Picker*/
.filepicker.dropzone.dz-clickable {
  width: 200px;
  height: 200px;
  background-color: #eeeeee;
  border-radius: 8px;
  border: 2px dashed orange;
  text-align: center;
}



/*Input Color Styling*/
input[type=date]:focus:not([readonly]) {
  border-bottom: 1px solid #ff9800;
  box-shadow: 0 1px 0 0 #ff9800;
}
[type="checkbox"].filled-in:checked+label:after  {
  background-color: #ff9800;
  border: 2px solid #ff9800;
}
.dropdown-content li>a, .dropdown-content li>span{
  color: #ff9800;
}
.input-field textarea[class=date]:focus {
  border-bottom: 1px solid #ff9800;
  box-shadow: 0 1px 0 0 #ff9800;
}
.input-field textarea[class=materialize-textarea]:focus {
  border-bottom: 1px solid #ff9800;
  box-shadow: 0 1px 0 0 #ff9800;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #ff9800;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #ff9800;
  box-shadow: 0 1px 0 0 #ff9800;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #ff9800;
  box-shadow: 0 1px 0 0 #ff9800;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #f44336;
  box-shadow: 0 1px 0 0 #f44336;
}
/* label focus color */
.input-field input[type=number]:focus + label {
  color: #ff9800;
}
/* label underline focus color */
.input-field input[type=number]:focus {
  border-bottom: 1px solid #ff9800;
  box-shadow: 0 1px 0 0 #ff9800;
}
/* valid color */
.input-field input[type=number].valid {
  border-bottom: 1px solid #ff9800;
  box-shadow: 0 1px 0 0 #ff9800;
}
/* invalid color */
.input-field input[type=password].invalid {
  border-bottom: 1px solid #f44336;
  box-shadow: 0 1px 0 0 #f44336;
}
/* label focus color */
.input-field input[type=password]:focus + label {
  color: #ff9800;
}
/* label underline focus color */
.input-field input[type=password]:focus {
  border-bottom: 1px solid #ff9800;
  box-shadow: 0 1px 0 0 #ff9800;
}
/* valid color */
.input-field input[type=password].valid {
  border-bottom: 1px solid #ff9800;
  box-shadow: 0 1px 0 0 #ff9800;
}
/* invalid color */
.input-field input[type=password].invalid {
  border-bottom: 1px solid #f44336;
  box-shadow: 0 1px 0 0 #f44336;
}
/* invalid color */
.input-field input[type=email].invalid {
  border-bottom: 1px solid #f44336;
  box-shadow: 0 1px 0 0 #f44336;
}
/* label focus color */
.input-field input[type=email]:focus + label {
  color: #ff9800;
}
/* label underline focus color */
.input-field input[type=email]:focus {
  border-bottom: 1px solid #ff9800;
  box-shadow: 0 1px 0 0 #ff9800;
}
/* valid color */
.input-field input[type=email].valid {
  border-bottom: 1px solid #ff9800;
  box-shadow: 0 1px 0 0 #ff9800;
}
/* invalid color */
.input-field input[type=email].invalid {
  border-bottom: 1px solid #f44336;
  box-shadow: 0 1px 0 0 #f44336;
}
